<footer>
    <div class="col-12" id="cont-ext-ft">

      <div id="cont-logo">
        <img id="brand-img-ft" src="src/img/meetmykeg-logoft.png" style="height:5vw;margin-top: 0.6vw"></img>
      </div>

      <div id="cont-izq-ft">
        <div>
          <h5><a href="contacto.html">Contacto</a></h5>
          <p style="margin-bottom:0;">+56 9 6748 4094</p>
          <p id="copyright-txt" style="font-size: 1vw;">contactos@meetmykeg.com</p>
         </div>
        <div>
          <h5>Síguenos</h5>
          <span id="cont-rrss">
            <i class="fa-brands fa-facebook-f fa-xl"></i>
            <i class="fa-brands fa-instagram fa-xl"></i> 
            <i class="fa-brands fa-twitter fa-xl"></i>       
          </span>
        </div>

      </div>
      <div id="cont-cen-ft">
        <h5>Navegador</h5>
        <ul style="padding: 0">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Iniciar Sesión</a></li>
          <li><a href="#">Sobre Nosotros</a></li>
          <li><a href="#">Envíanos un mensaje</a></li>
        </ul>
      </div>

      <div id="cont-cen-ft">
        <h5>Información</h5>
        <ul style="padding: 0">
          <li><a href="#">Producto</a></li>
          <li><a href="#">Planes</a></li>
          <li><a href="#">Términos de Servicio</a></li>
          <li><a href="#">Política de Privacidad</a></li>
        </ul>
      </div>

      

      <div id="cont-der-ft">
        <img src="src/img/google-play-badge.png" alt="" style="height: 65px; width:fit-content; opacity: 83%;">
        <img src="src/img/appstore-badge.svg" alt="" style="height: 51px; opacity: 83%">
      </div>
    </div>
    <div id="copyright-txt">
      <p>&copy; 2023 Meet my Keg - Derechos reservados</p>
    </div>
  </footer>