<header>
    <nav class="navbar navbar-expand-md fixed-top bg-body-tertiary" class="navbar bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="src/img/meetmykeg-logo2.png" alt="" id="logo-img"></a>
        <!-- Boton Oculto Nv-->
        <a href="/login" id="login-oculto" style="color: #3D6D79; font-size: 14px; gap:3px"><i
          class="fa-solid fa-user" style="font-size: 30px"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <span><i class="fa-sharp fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="lista-navbar">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item item-menu">
                <a class="nav-link active" href="#">Producto</a>
              </li>
              <li class="nav-item item-menu">
                <a class="nav-link active" href="#">Planes</a>
              </li>
              <li class="nav-item item-menu">
                <a class="nav-link active" href="#">Nosotros</a>
              </li>
              <li class="nav-item item-menu">
                <a class="nav-link active" href="/contacto">Contacto</a>
              </li>
            </ul>
          </div>

          <!--Botones Derechos-->
          <div class="btn-group" id="botones-derechos">
            <button id="btn-nav" type="button" class="btn">
              <a href="/login" style="color: black; font-size: 1.3vw; font-weight: bold; text-decoration: none;"><i
                  class="fa-solid fa-user user-login" style="font-size: 2vw; letter-spacing: 0.3vw;"></i> Log In</a>
            </button>
            <button id="btn-nav" type="button" class="btn btn-secondary">
              <a href="/trymmk" class="btn" id="btn-gratis">Prueba Gratis</a>
            </button>
          </div>
        </div>
      </div>
    </nav>
  </header>