@import url(styles.css);

html{
  padding: 0;
  margin: 0;
  background-color: white;
}

.app{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.header-app{
  display: grid;
  grid-template-columns: 80% 20%;
  flex-direction: column;
  /* align-items: flex-start; */
  background-color: #1B232A;
  min-height: 11vh;
}

.header-app-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1B232A;
  min-height: 11vh;
}

.header-app-panel{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title{
  letter-spacing: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  margin-left: 3vw;
  font-weight: bolder;
  color: white;
  padding: 0 10px;
}

.header-subtitle{
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-left: 3vw;
  margin-bottom: 0;
  margin-top: 1.5vh;
  padding: 0 10px;
  letter-spacing: 2px;
}

.log-dropdown{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: #3D6D79;
  margin-right: 0.5vw !important;
}

.user-login-desk{
  font-size: 28px !important;
}

.body-app{
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: center;
  min-height: 80vh;
  /* background-color: #3d8296; */
  background-color: #3d8296;

}

.dropdown-menu{
  background-color: #1B232A;
}

.dropdown-item{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight:200;
  font-size: 13px;
}

.dropdown-desk{
  display: flex;
  align-items: center;
}

.dropdown-celu{
  display: none;
}

.menu-celu{
  display: none;
  justify-items: center;
  align-items: center;
  position: absolute;
  position: fixed;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 999;
  width: 310px;
  top:75vh;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  min-height: 80px;
  max-height: 80px;
  background-color: #1B232A;
  border-radius: 25px; 
  color: white;   
  transition: 100ms;
  box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.24);
}

.menu-celu .fa-solid:hover{
    color: aqua;
    box-shadow: 1px 1px 15px aqua;
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(55, 160, 192), 0 0 40px #0ff, 0 0 50px #2b528d, 0 0 60px #2eaeb8, 0 0 70px #4093a8;
}

.optionselected{
  color: aqua;
    box-shadow: 1px 1px 15px aqua;
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(55, 160, 192), 0 0 40px #0ff, 0 0 50px #2b528d, 0 0 60px #2eaeb8, 0 0 70px #4093a8;
}

.menu-celu a , .menu-celu a:visited{
    color: white;
}

.menu-desk a , .menu-desk a:visited{
  color: white;
}

.menu-desk{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 80px 80px 80px 80px 100px;
  z-index: 999;
  width: 100px;
  height: 100%;
  background-color: #1B232A;
  color: white;   
  transition: 100ms;
  padding-top: 7vh;
  gap: 20px;
}

.body-container-apphome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 30px;
  margin-top: 10vw;
  
}


.body-container-inventario{
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill,minmax(min(100%, 16rem), 1fr)); */
  align-content: flex-start;
  /* justify-items: space-between; */
  gap: 1rem;
  /* margin-right: 8vw; */
  margin-top: 1rem;
}

.celbody-card1{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 90px;
  /* background-image: url('https://mmk-cel-testing.netlify.app/src/img/et1.png'); */
  background-color: #3D6D79;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.celbody-card2{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 90px;
  /* background-image: url('https://mmk-cel-testing.netlify.app/src/img/et2.png'); */
  background-color: #99A98F;
}

.celbody-card2 .text-buttons{
  color: #283138;
}

.celbody-card3{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 90px;
  /* background-image: url('https://mmk-cel-testing.netlify.app/src/img/et3.png'); */
  background-color: #5C82A6;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.text-buttons{
  letter-spacing: 3px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  padding: 0 10px;
}


/* ================================ SECCION INVENTARIO ================================== */
.panel-tablas-inv {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 4vh;
  gap: 50px;
  transition: 500ms;
  -webkit-transition: 500ms;
}

.contenedor-tabla{
  background-color: rgb(226, 208, 178);
  padding: 2vw;
  border-radius: 8px;
  border-top: 18px solid #273542;
  border-bottom: 18px solid #273542;
}


#icon-inv-panel:hover {
  transition: 500ms;
  scale: 115%;
  filter: invert(20%);
}

#icon-inv-panel:not(:hover) {
  transition: 500ms;
  scale: (100%);
}

.panel-tablas-inv {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 4vh;
  gap: 50px;
}

.appfooterspace{
  display: grid;
  grid-template-columns: 10% 90%;
  min-height: 28vh;
  /* background-color: #3d8296; */
  background-color: #3d8296;
}

.foot-menu{
  background-color: #1B232A;
  width: 100px;
}

#estado-tabla a{
  color: inherit;
}

.highlight-estado-g {
  color: green !important;
  font-weight: bold;
}

.highlight-estado-r {
  color: rgb(211, 56, 56) !important;
  font-weight: bold;
}

.highlight-estado-y {
  color: rgb(62 98 108) !important;
  font-weight: bold;
}

.highlight-estado-fs {
  color: rgba(88, 31, 31, 0.685) !important;
  font-weight: bold;
}

#cod-tabla{
  font-weight: bold;
  color: #3e4449 !important;
}

/* ================================ SECCION EDICION ITEM ================================== */

.card-subcont{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.divisor-form {
  border-bottom: 3px solid white;
  border-radius: 2px;
  margin-bottom: 20px;
}

#qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 35%;
}

#qr-img {
  margin-top: 15px;
}

/* ================================ SECCION INFORMES ================================== */

.body-container-informe{
  display: flex;
  justify-content: flex-end;
  margin-right: 180px;
}

.cont-ext-graf{
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 10vh;
  min-width: 80%;
}

.graf-container{
  display: flex;
  max-width: 450px;
  max-height: 450px;
  background-color: #3a3a49;
  padding: 25px;
  border-radius: 30px;
}

.graf-menu{
  display: grid;
  align-content: center;
  gap: 40px;
  margin-bottom: 40px;
  margin-right: 25px;
}

.btn-informe{
  padding: 1vw 2vw;
  max-width: 15vw;
  max-height: 10vh;
  font-size: 1.3rem;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  background-color: #1B232A;
}

/* Fuentes
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif; 
font-family: 'Poppins', sans-serif;
*/



/* @media only screen and (max-height: 680px) {
  .body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 30px;
    margin-top: 10vw;
  }


} */

