@media only screen and (max-width: 900px) {

    #btn-gratis {
        display: none;
    }

    #btn-nav {
        scale: 150%;
    }

    #txt-modal-parrafo {
        font-size: 14px;
    }
}

@media only screen and (max-width: 860px) {

    .contenedor-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 12vw;
        margin-top: 8vw;
    }

    #contenedor-formulario-interno {
        margin-right:0;
        margin: 0 2vw;
        padding-bottom: 5vw;
        
    }

    #texto-contacto {
        margin-bottom: 0;
    }

    .row {
        margin-left: 0;
    }

    .contenedor-contacto{
        margin-top: 15vw;
    }

}


@media only screen and (max-width: 800px) {
    #botones-derechos {
        display: none;
        padding-left: 0vw;
    }

    .nav-link {
        font-size: 0.8rem;
    }
    
    
    
    
    #cont-presentacion-int {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 2vw;
        justify-content: center;
        align-items: center;
        
    }

    #cont-img {
        padding: 0;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    #devices-img {
        scale: 150%;
    }

    #cont-princ-1 {
        width:80%;
        text-align: center;
    }

    .btn-principal {
        font-size: 1rem;
    }

    #contenedor-caract{
        display: flex;
        flex-direction: column;
    }

    
    #foto-barriles {
        display: none;
    }

    #botonera-princ {
        display: flex;
        justify-content: center;
       }
}

@media only screen and (max-width: 767px) {
    .navbar-toggler {
        margin-right: 4vw;
        margin: 0 3vw;
    }

    .navbar-collapse {
        align-items: flex-end;
        justify-content: end;
    }

    .navbar-nav {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 2vw;
        gap: 1vw;
        margin-left: 4vw;
    } 
    
    .navbar-nav a {
        padding: 0;
        font-size: 2.5vw;
        text-align: left;

           
    }

    #login-oculto {
        display: flex !important;
        position: absolute;
        justify-self: end;
        margin-bottom: 1vw;
        right: 70px;
        font-size: 10px;
    }

    .navbar .container-fluid {
        display: grid;
        grid-template-columns: 5fr 1fr 1fr;
    }

   

   #botonera-princ {
    display: flex;
   }

   .navbar-toggler {
    margin-right: 5vw;
    scale: 150%;
    }

    #etiqueta-modal-btn {
        display: none;
    }

    .contenedor-presentacion{
        margin-top: 15vw;
    }
    
    /*asdasd*/
    #contenedor-caract {
        display: grid;
        grid-template-columns: 1fr !important;
        margin: 0 1.5vw;
    }
    
    #txt-modal-parrafo {
        font-size: 10px;
    }

    #modal-cont-foto {
        height: 170px;
    }

    .modal-content{
        margin-top: 120px;
    }

    /* .body-container{
        margin-top: 20vw;
    } */
}

@media only screen and (max-width: 600px) {
    .menu-celu{
        display: grid;
    }

    .dropdown-celu{
        display: flex;
    }

    .dropdown-desk{
        display: none;
    }
    
    .menu-desk {
        display: none;
    }

    .body-app{
        display: flex;
    }

    .foot-menu{
        background-color: #3d8296 !important;
        width: 100px;
      }

    .body-container-inventario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 30px;
    margin-top: 0;
    }

    .listainventariocel{
        display: flex;
        width: 100%;
        align-items: flex-start;
        padding-left: 4vw;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        color: white;
        flex-direction: column;
        margin: 0;
        gap: 0;
    }

    .contenedor-tabla{
        max-width: 450px;
    }
    
}

@media only screen and (max-width: 480px) {
    .navbar .container-fluid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navbar-collapse{
        display: flex;
        position: absolute;
        top: 75px;
        background-color:#f2f5ff;
        min-width: -webkit-fill-available;
        box-shadow: 0px 10px 5px #0000008f;
    }

    .container-fluid {
        display: grid;
        grid-template-columns: 3fr 2fr
    }


    .navbar-toggler {
        justify-self: end;
        padding-right: 2vw;
        scale: 150%;
        width: 35px;
        margin-left: 0;
        padding-left: 0;
    }

    .navbar-nav a{
        font-size: 16px;
        gap: 0;
    }


    #log-in-txt {
        font-size: 8px;
    }

    #logo-img {
        height: 60px;
    }
  
    #login-oculto {
        display: flex !important;
        position: absolute;
        justify-self: end;
        margin-bottom: 1vw;
        right: 70px;
        font-size: 10px;
    }

    #cont-logo {
        display: none;
    }

    #cont-ext-ft {
        grid-template-columns: 1fr 1fr;
    }

    #contenedor-fluido {
        display: block;
    }

    .contenedor-presentacion{
        margin-top: 15vw;
    }

    #contenedor-caract {
        display: grid;
        grid-template-columns: 1fr !important;
        margin: 0 1.5vw;
    }
    
    #txt-modal-parrafo {
        font-size: 10px;
    }

    #modal-cont-foto {
        height: 170px;
    }

    .modal-content{
        margin-top: 180px;
    }

    .body-container-informe{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cont-izq-graf {
        display: grid;
        grid-template-rows: 10% 40% 40%;
        max-height: 1000px;
        padding-bottom: 50px;
        width: 430px;
        gap: 25px;
        place-items: center;
        padding-top: 10px;
    }
    .graf-menu{
        height: 190px;
    }

    .graf-resumen {
        width: fit-content;
        margin-left: 0;
    }

    .cont-grafico{
        display: none;
    }

   
}

@media only screen and (max-width: 400px) {
    .contenedor-tabla {
        max-width: 360px;
    }

    .body-container-inventario {
        margin-top: 0;
    }
};
