{{#> layoutapp}}

<div class="app">
    
    <div class="header-app">
        <div class="header-app-info">
            {{#unless isMaster}}
            <p class="header-subtitle">{{cerveceria}}</p>
            <h4 class="header-title">Dashboard</h4>
            {{/unless}}
            {{#if isMaster}}
            <p class="header-subtitle">Admin</p>
            <h4 class="header-title">Dashboard</h4>
            {{/if}}
        </div>
        <div class="header-app-panel">
            <div class="dropdown dropdown-desk">
                <button class="btn btn-secondary dropdown-toggle log-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hola {{capitalizar nombre}}
                </button>
                <button id="foto-modal-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-user user-login user-login-desk" style="font-size: 20px; letter-spacing: 0.3vw; color:white"></i></button>
                
                <ul class="dropdown-menu">
                    {{#if isMaster}}
                        <li><a class="dropdown-item" href="/regicerv">Registrar Cervecería</a></li>
                    {{/if}}
                    {{#if isAdmin}}    
                        <li><a class="dropdown-item" href="/register">Registrar Usuario</a></li>
                        <li><a class="dropdown-item" href="/regicat">Registrar Categoría</a></li>
                    {{/if}}
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                </ul>
            </div>

            <div class="dropdown dropdown-celu">
                <button class="btn btn-secondary dropdown-toggle log-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user user-login" style="font-size: 20px; letter-spacing: 0.3vw; color:white"></i>
                </button>
                <ul class="dropdown-menu">
                    {{#if isMaster}}
                        <li><a class="dropdown-item" href="/regicerv">Registrar Cervecería</a></li>
                    {{/if}}
                    {{#if isAdmin}}    
                        <li><a class="dropdown-item" href="/register">Registrar Usuario</a></li>
                        <li><a class="dropdown-item" href="/regicat">Registrar Categoría</a></li>
                    {{/if}}
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="body-app">
        <div class="menu-desk">
            <a href="app"><i class="fa-solid fa-house fa-2xl optionselected"></i></a>
            <a href="inventario"><i class="fa-solid fa-folder-tree fa-2xl"></i></a>
            <a href="informe"><i class="fa-solid fa-chart-line fa-2xl"></i></a>
            <a href="scanitem"><i class="fa-solid fa-qrcode fa-2xl"></i></a>
        </div>
        <div class="body-container-apphome">
            <div class="celbody-card1"><a href="/nvocliente"><h4 class="text-buttons">Nuevo Cliente</h4></a></div>
            <div class="celbody-card2"><a href="/regicat"><h4 class="text-buttons">Nueva Categoria</h4></a></div>
            <div class="celbody-card3"><a href="/scanitem"><h4 class="text-buttons">Cambiar Estado</h4></a></div>
        </div>
    </div>

    <div class="appfooterspace">
        <div class="foot-menu" style="background-color: #1B232A;"></div>
        <div style="background-color:#3d8296"><p></p></div>
    </div>


    <div class="menu-celu">
        <a href="app"><i class="fa-solid fa-house fa-2xl optionselected"></i></a>
        <a href="inventario"><i class="fa-solid fa-folder-tree fa-2xl"></i></a>
        <a href="informe"><i class="fa-solid fa-chart-line fa-2xl"></i></a>
        <a href="scanitem"><i class="fa-solid fa-qrcode fa-2xl"></i></a>
    </div>
    
</div>

<!-- ==========================MODAL IMAGEN================================ -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog2">
    <div class="modal-content modal-content2">
      <div class="modal-header modal-header2">
        <h5 class="modal-title">{{capitalizar cerveceria}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-body2">
        
        <form id="form-img" action="uplimg" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Subir un logo (250 x 250)</label>
            <input type="file" class="form-control" name="image" accept="image/*" required>
          </div>
          <button type="submit" form="form-img" class="btn btn-primary">Subir imagen</button>
        </form>
        <div class="img-modal-cont">
            {{#if imgcerv}}
                <img src="{{imgcerv}}" height="150px" width="150px" alt="">
            {{/if}}
            {{#unless imgcerv}}
                <img src="src/img/uploads/mmklogosquare.png" height="150px" width="150px" alt="">
            {{/unless}}
        </div>
      </div>
      <div class="modal-footer modal-footer2">
        
      </div>
    </div>
  </div>
</div>

{{#if errorimg}}
    <script src="src/js/main.js"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script>
         Swal.fire({
        position: 'center',
        icon: 'error',
        title: 'Tipo de archivo no admitido.',
        showConfirmButton: false,
        background: '#3A3A49',
        color: '#fff',
        timer: 1500
    })
    </script>
{{/if}}

<script src="/src/js/main.js"></script>
{{#if confirmarRedir}}
<script src="../sweetalert2.all.min.js"></script>
<script>
  confSuccRedir();
</script>
{{/if}}

{{#if failedRedir}}
<script src="../sweetalert2.all.min.js"></script>
<script>
  failAlertRedir();
</script>
{{/if}}

{{#if failedCode}}
<script src="../sweetalert2.all.min.js"></script>
<script>
  failAlertCode();
</script>
{{/if}}

{{/layoutapp}}