<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Bienvenido {{capitalizar user}}</h2>

    <h3>Pertenece a: {{cerveceria}}</h3>

    <h3>Tus barriles son los siguientes:</h3>

    <table>
    {{#each barriles}}
        <tr>
            <td>ID: {{id}}</td>
            <td>   Capacidad: {{capacidad}}</td>
        </tr>
    {{/each}}
    </table>
</body>
</html>