{{#> layoutmobile}}

<div class="celular">
    <div class="header-celu">
        <p class="header-subtitle">{{cerveceria}}</p>
        <h4 class="header-title">Dashboard</h4>
    </div>
    <div class="body-celu">
        <div class="body-container">
            <div class="celbody-card1"><h4 class="text-buttons">Cambiar Estado</h4></div>
            <div class="celbody-card2"><h4 class="text-buttons">Nueva Categoria</h4></div>
            <div class="celbody-card3"><h4 class="text-buttons">Nuevo Articulo</h4></div>
        </div>
    </div>


    <div class="menu-celu">
        <a href="appmob"><i class="fa-solid fa-house fa-2xl"></i></a>
        <a href="inventariomob"><i class="fa-solid fa-folder-tree fa-2xl"></i></a>
        <i class="fa-solid fa-chart-line fa-2xl"></i>
        <i class="fa-solid fa-qrcode fa-2xl"></i>
    </div>
</div>

{{/layoutmobile}}