{{#> layoutapp}}
<link rel="stylesheet" type="text/css" href="src/scss/register.css"/>

<div class="app">
    
  <div class="header-app">
    <div class="header-app-info">
      {{#unless isMaster}}
      <p class="header-subtitle">{{cerveceria}}</p>
      <h4 class="header-title">Informes</h4>
      {{/unless}}
      {{#if isMaster}}
      <p class="header-subtitle">Admin</p>
      <h4 class="header-title">Informes</h4>
      {{/if}}
    </div>
    <div class="header-app-panel">
      <!-- MENU DROPDOWN DESKTOP -->
      <div class="dropdown dropdown-desk">
          <button class="btn btn-secondary dropdown-toggle log-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hola {{capitalizar nombre}}
          </button>
          <i class="fa-solid fa-user user-login user-login-desk" style="font-size: 20px; letter-spacing: 0.3vw; color:white"></i>
          <ul class="dropdown-menu">
              {{#if isMaster}}
                  <li><a class="dropdown-item" href="/regicerv">Registrar Cervecería</a></li>
              {{/if}}
              {{#if isAdmin}}    
                  <li><a class="dropdown-item" href="/register">Registrar Usuario</a></li>
                  <li><a class="dropdown-item" href="/regicat">Registrar Categoría</a></li>
              {{/if}}
                  <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
          </ul>
      </div>

      <!-- MENU DROPDOWN MOBILE -->
      <div class="dropdown dropdown-celu">
          <button class="btn btn-secondary dropdown-toggle log-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user user-login" style="font-size: 20px; letter-spacing: 0.3vw; color:white"></i>
          </button>
          <ul class="dropdown-menu">
            {{#if isMaster}}
                <li><a class="dropdown-item" href="/regicerv">Registrar Cervecería</a></li>
            {{/if}}
            {{#if isAdmin}}    
                <li><a class="dropdown-item" href="/register">Registrar Usuario</a></li>
                <li><a class="dropdown-item" href="/regicat">Registrar Categoría</a></li>
            {{/if}}
                <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
          </ul>
      </div>
    </div>
  </div>

  <div class="body-app">
    <!-- MENU PRINCIPAL DESKTOP -->
    <div class="menu-desk">
        <a href="app"><i class="fa-solid fa-house fa-2xl"></i></a>
        <a href="inventario"><i class="fa-solid fa-folder-tree fa-2xl"></i></a>
        <a href="informe"><i class="fa-solid fa-chart-line fa-2xl optionselected"></i></a>
        <i class="fa-solid fa-qrcode fa-2xl"></i>
    </div>
    
    <div class="body-container-informe">
        <div class="cont-ext-graf">
            <div class="graf-menu">
                <button class="btn btn-dark btn-informe">Barriles</button>
                <button class="btn btn-dark btn-informe">Categorias</button>
                <button class="btn btn-dark btn-informe">Clientes</button>

            </div>
            <div class="graf-container">
                <canvas class="" id="myChart"></canvas>
            </div>
        </div>
    </div>
  </div>

  <div class="appfooterspace">
      <div class="foot-menu" style="background-color: #1B232A;"></div>
      <div><p></p></div>
  </div>

  <!-- MENU PRINCIPAL MOBILE -->
  <div class="menu-celu">
      <a href="app"><i class="fa-solid fa-house fa-2xl"></i></a>
      <a href="inventario"><i class="fa-solid fa-folder-tree fa-2xl"></i></a>
      <a href="informe"><i class="fa-solid fa-chart-line fa-2xl optionselected"></i></a>
      <i class="fa-solid fa-qrcode fa-2xl"></i>
  </div>  
</div>

<script>
  const ctx = document.getElementById('myChart');
  
Chart.defaults.font.size = 16;
Chart.defaults.font.weight = 'bold';
Chart.defaults.color = '#fff';
  new Chart(ctx, {
        type: 'pie',
        data: {
          labels: [{{{arrLabels}}}],
          datasets: [{
            label: 'Estado de Barriles',
            data: [{{arrDatos}}],
            borderWidth: 0.5,
          }]
        },
        options: {
          plugins: {
          datalabels: {
            color: 'red'
          }
          }
        }
    });
  
</script>

{{/layoutapp}}