{{#> layoutapp}}

<div class="app">
     <div class="header-app">
        <div class="header-app-info">
            {{#unless isMaster}}
            <p class="header-subtitle">{{cerveceria}}</p>
            <h4 class="header-title">Inventario</h4>
            {{/unless}}
            {{#if isMaster}}
            <p class="header-subtitle">Admin</p>
            <h4 class="header-title">Inventario</h4>
            {{/if}}
        </div>
        <div class="header-app-panel">
            <div class="dropdown dropdown-desk">
                <button class="btn btn-secondary dropdown-toggle log-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hola {{capitalizar nombre}}
                </button>
                <i class="fa-solid fa-user user-login user-login-desk" style="font-size: 20px; letter-spacing: 0.3vw; color:white"></i>
                <ul class="dropdown-menu">
                    {{#if isMaster}}
                        <li><a class="dropdown-item" href="/regicerv">Registrar Cervecería</a></li>
                    {{/if}}
                    {{#if isAdmin}}    
                        <li><a class="dropdown-item" href="/register">Registrar Usuario</a></li>
                        <li><a class="dropdown-item" href="/regicat">Registrar Categoría</a></li>
                    {{/if}}
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                </ul>
            </div>

            <div class="dropdown dropdown-celu">
                <button class="btn btn-secondary dropdown-toggle log-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user user-login" style="font-size: 20px; letter-spacing: 0.3vw; color:white"></i>
                </button>
                <ul class="dropdown-menu">
                    {{#if isMaster}}
                        <li><a class="dropdown-item" href="/regicerv">Registrar Cervecería</a></li>
                    {{/if}}
                    {{#if isAdmin}}    
                        <li><a class="dropdown-item" href="/register">Registrar Usuario</a></li>
                        <li><a class="dropdown-item" href="/regicat">Registrar Categoría</a></li>
                    {{/if}}
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                </ul>
            </div>
            {{!-- <i class="fa-solid fa-user user-login" style="font-size: 30px; letter-spacing: 0.3vw; color:white"></i>
            <a href="/logout"><button class="btn btn-outline-secondary" >Log Out</button></a> --}}
        </div>
    </div>


    <div class="body-app">
         <div class="menu-desk">
            <a href="app"><i class="fa-solid fa-house fa-2xl"></i></a>
            <a href="inventariomob"><i class="fa-solid fa-folder-tree fa-2xl optionselected"></i></a>
            <a href="informe"><i class="fa-solid fa-chart-line fa-2xl"></i></a>
            <i class="fa-solid fa-qrcode fa-2xl"></i>
        </div>
        <div class="body-container-inventario">
            {{#each inventario}}
                {{>carditem}}
            {{/each}}
        </div>        
    </div>

    <div class="appfooterspace">
        <div class="foot-menu" style="background-color: #1B232A;"></div>
        <div><p></p></div>
    </div>

    <div class="menu-celu">
        <a href="app"><i class="fa-solid fa-house fa-2xl"></i></a>
        <a href="inventariomob"><i class="fa-solid fa-folder-tree fa-2xl optionselected"></i></a>
        <a href="informe"><i class="fa-solid fa-chart-line fa-2xl"></i></a>
        <i class="fa-solid fa-qrcode fa-2xl"></i>
    </div>
</div>

{{/layoutapp}}